/* En el archivo Home.css */

body {
  background-color: #f5f5f5 !important;
  margin: 0;
}



header {
  height: 360px;
  z-index: 10;

}

.header-banner {
  background-image: url('../med3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}

header h1 {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  padding: 0 1rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav {
  width: 100%;
  height: 60px;
  background: linear-gradient(-45deg, #a6dcef, #8fd3f4, #4a90e2, #56baed, #a6dcef);
  background-size: 500% 500%; /* Aumenté el tamaño del fondo para una animación más notoria */
  animation: gradient 15s ease infinite;  postion: fixed;
  z-index: 10;
}

nav div {
  color: white;
  font-size: 2rem;
  line-height: 60px;
  position: absolute;
  top: 0;
  left: 2%;
  visibility: hidden;
}

.visible-title {
  visibility: visible;
}

nav ul {
  list-style-type: none;
  margin: 0 2% auto 0;
  padding-left: 0;
  text-align: right;
  max-width: 100%;
}

nav ul li {
  display: inline-block;
  line-height: 60px;
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

.dashboard-link {
  text-decoration: none;
  color: #3498db;
  cursor: pointer;
  transition: color 0.5s, opacity 1s;
}

.dashboard-link:hover {
  color: #2980b9;
  animation: blink 2s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

p {
  text-align: center;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Agregado para permitir que los elementos se envuelvan en pantallas pequeñas */
}

.rectangle {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 60pc;
  margin-bottom: 120px;
}

/* Estilo específico para el primer rectángulo */
.welcome-rectangle {
  flex: 0 0 30%;
  margin-left: 40px;
  margin-right: 60px;
}

/* Estilo específico para el segundo rectángulo */
.other-rectangle {
  flex-grow: 1;
}

/* Reglas de medios para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .rectangle {
    width: 100%; /* Hacer que los rectángulos ocupen el 100% del ancho en pantallas pequeñas */
    margin-left: 0;
    margin-right: 0;
  }

  .welcome-rectangle,
  .other-rectangle {
    flex: 0 0 100%; /* Ocupar el 100% del ancho en pantallas pequeñas */
    margin-left: 0;
    margin-right: 0;
  }
}

/* Agregar estilos específicos para el formulario dentro del rectángulo "Actualizar Datos" */
.rectangle.other-rectangle[selected] form {
  /* Estilos del formulario aquí */
}

/* Agregar estilos específicos para los campos del formulario */
.rectangle.other-rectangle[selected] form label {
  display: block;
  margin-bottom: 10px;
}

.rectangle.other-rectangle[selected] form input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.rectangle.other-rectangle[selected] form button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rectangle.other-rectangle[selected] form button:hover {
  background-color: #2980b9;
}

/* Estilos específicos para el dropdown */
div select {
  font-family: 'Poppins', sans-serif; /* Cambia la fuente a Poppins */
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Estilos para los elementos option en el dropdown */
div select option {
  font-family: 'Poppins', sans-serif; /* Cambia la fuente a Poppins */
  background-color: #FAFCFD;
  color: #333;
  font-size: 1.1rem;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #FF908B;
    color: #fff;
  }
}

/* Estilos cuando se pasa el cursor sobre el dropdown */
div select:hover {
  background-color: #56baed;
  color: #fff;
}

/* Estilos para el elemento seleccionado en el dropdown */
div select option:checked {
  background-color: #2980b9;
  color: #fff;
}

/* Estilos cuando se pasa el cursor sobre el elemento seleccionado en el dropdown */
div select option:checked:hover {
  background-color: #2980b9;
}


/* ... (otros estilos) */

/* Estilos para el ticket debajo del dropdown */
.ticket-wrapper {
  position: relative;
  width: 380px;
  height: 250px;
  margin: 60px auto 0;
}

/* Estilos específicos para el ticket */
.ticket {
  background: #56baed;
  height: 150px;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ticket-txt,
.ticket-sub-txt {
  color: #fff;
  position: absolute;
  top: 30px;
  left: 90px;
  font-size: 56px;
  font-weight: bold;
  font-family: Poppins, sans-serif; /* Cambia la fuente a Poppins */
}

.ticket-sub-txt {
  font-size: 20px;
  top: 100px;
  left: 70px;
  font-weight: normal;
}

.left {
  position: absolute;
  top: 25px;
  left: -40px;
  width: 70px;
  height: 70px;
  background: #ffffff;
  border-radius: 90px;
}

/* Estilos para el ticket rip */
.ticket-rip {
  background: #ebe4e4;
  height: 150px;
  width: 80px;
  position: absolute;
  top: 0;
  right: 0;
  animation: tearoff 1.5s infinite;
  transform-origin: 0 100%;
  z-index: 10;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.right {
  position: absolute;
  top: 25px;
  right: -40px;
  width: 70px;
  height: 70px;
  background: #ffffff;
  border-radius: 90px;
  box-shadow: none;
}

.tear-line {
  position: absolute;
  top: -10px;
  right: -5px;

  p {
    width: 15px;
    height: 20px;
    background: #ffffff;
    border-radius: 90px;
    box-shadow: none;
    margin: 0 0 15px 0;
  }
}

@keyframes tearoff {
  50% {
    right: 0;
  }
  60% {
    transform: rotate(5deg);
    box-shadow: 5px 5px 10px #111;
  }
  75% {
    right: -25px;
  }
  100% {
    right: 0;
  }
}

.slide-in {
  display: inline-block;
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/* Estilos específicos para el formulario con la clase "formulario-container" */
.formulario-container {
  max-width: 800px; /* Ajusta el ancho según tus preferencias */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-container h3 {
  color: #333;
}

.formulario-container label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #555;
}

.formulario-container input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formulario-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.formulario-container button:hover {
  background-color: #45a049;
}



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #8fd3f4;
  padding: 10px;
  text-align: center;
  margin-top: 60px;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
  margin: 20px auto;
}

.card {
  width: 40%;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 12px; /* Aumentado el radio para suavizar los bordes */
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agregado un difuminado gris claro */
}

.card-header {
  background-color: #56baed;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-text {
  color: #555;
  padding: 0;
  display: flex;
  flex-direction: column; /* Muestra los elementos en columna */
}

.info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px; /* Ajustado el margen inferior */
}

.info-label {
  font-weight: bold;
}

.btn-container {
  text-align: center; /* Centro el botón */
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #4caf50; /* Cambiado a verde */
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: #45a049; /* Color verde oscuro al pasar el ratón */
}

button.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

button.btn:hover {
  background-color: #45a049;
}
.calendar {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);
}

.calendar .month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 300;
}

.calendar .month .year {
  font-weight: 600;
  margin-left: 10px;
}

.calendar .month .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #0a3d62;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  transition-duration: .2s;
  position: relative;
  cursor: pointer;
}

.calendar .month .nav:hover {
  background: #eee;
}

.calendar .days {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  color: #999;
  font-weight: 600;
  margin-bottom: 15px;
}

.calendar .days span {
  width: 50px;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.calendar .dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar .dates button {
  cursor: pointer;
  outline: 0;
  border: 2px solid #45a049; /* Cambiado el color del borde a verde */
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  justify-self: center;
  align-self: center;
  width: 50px;
  height: 50px;
  border-radius: 25px; /* Cambiado el radio del borde para que sea redondo */
  margin: 2px;
  transition-duration: .2s;
  color: #000000;
}

.calendar .dates button.today {
  box-shadow: inset 0px 0px 0px 2px #0a3d62;
  border: 2px solid #0a3d62;
}

.calendar .dates button:first-child {
  grid-column: 4;
}

.calendar .dates button:hover {
  background: #45a049;
}

.calendar .dates button:focus {
  background: #0a3d62;
  color: #45a049;
  font-weight: 600;
}


