body {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    line-height: 1em;
    margin: 0;
  }


  header {
    background-color: royalblue;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6pc;
}

.header-with-image {
    position: relative;
    background-image: url('IMG/icon2.png');
    background-size: contain; /* Ajusta para que la imagen se ajuste al contenedor */
    background-position: right bottom; /* Ajusta según sea necesario */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position-x:24%;
    background-position-y: 80%;
}
  
  .header-with-image p {
    margin-bottom: 20px; /* Para dejar espacio entre el texto y la imagen */
  }
  

  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor {
    display: flex;
    margin: 20px auto;
}

.seccion {
    max-width: 651px;
    border: 1px solid #ddd; /* Agrega un borde gris alrededor del elemento */
    border-radius: 10px;
    text-align: left;
    margin-left: 10px;
  }
  
.informacion-usuario, .botones-navegacion {
    padding: 20px;
}

.informacion-usuario {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
}

.usuario-info {
    display: flex;
    align-items: center;
}

.usuario-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

h1 {
    color: #333;
    font-size: 1.2em;
    margin: 0 0 5px 0;
}

p {
    margin: 0;
    padding: 10px;
    color: #555;
    font-size: 0.9em;
    border-radius: 5px;
}

a {
    display: block;
    text-decoration: none;
    color: #1565c0;
    margin: 10px 0;
}

a:before {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.columns-container {
    display: flex;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 12px;
  }

  .card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 12px;
    display: flex;
    height: 11pc;
  }

  .card img {
    width: 150px;
    height: auto; /* Hace que la altura se ajuste automáticamente manteniendo la proporción */
    object-fit: cover;
  }

  .card-content {
    padding: 16px;
    flex-grow: 1;
  }

  .card h2 {
    margin-top: 0;
  }

  .card p {
    color: #555;
  }

  .card-button {
    background-color: #1565C0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }